In [134]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [135]:
import pandas as pd
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/selva86/datasets/master/Churn_Modelling.csv"
resp = requests.get(url)
if resp.status_code == 200:
    df = pd.read_csv(StringIO(resp.text))
    print("Loaded successfully:", df.shape)
else:
    print("Failed to load CSV. Status code:", resp.status_code)

Loaded successfully: (10000, 14)

In [136]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [137]:
#preprocess the data

In [138]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [139]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [140]:
## encode one caterogical variables
from sklearn.preprocessing import LabelEncoder
label_encoder_gender = LabelEncoder()

In [141]:
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [142]:
df.head(30)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0
10,528,France,1,31,6,102016.72,2,0,0,80181.12,0
11,497,Spain,1,24,3,0.00,2,1,0,76390.01,0
12,476,France,0,34,10,0.00,2,1,0,26260.98,0
13,549,France,0,25,5,0.00,2,0,0,190857.79,0
14,635,Spain,0,35,7,0.00,2,1,1,65951.65,0
15,616,Germany,1,45,3,143129.41,2,0,1,64327.26,0
16,653,Germany,1,58,1,132602.88,1,1,0,5097.67,1
17,549,Spain,0,24,9,0.00,2,1,1,14406.41,0
18,587,Spain,1,45,6,0.00,1,0,0,158684.81,0
19,726,France,0,24,6,0.00,2,1,1,54724.03,0
20,732,France,1,41,8,0.00,2,1,1,170886.17,0
21,636,Spain,0,32,8,0.00,2,1,0,138555.46,0
22,510,Spain,0,38,4,0.00,1,1,0,118913.53,1
23,669,France,1,46,3,0.00,2,0,1,8487.75,0
24,846,France,0,38,5,0.00,1,1,1,187616.16,0
25,577,France,1,25,3,0.00,2,0,1,124508.29,0
26,756,Germany,1,36,2,136815.64,1,1,1,170041.95,0
27,571,France,1,44,9,0.00,2,0,0,38433.35,0
28,574,Germany,0,43,3,141349.43,1,1,1,100187.43,0
29,411,France,1,29,0,59697.17,2,1,1,53483.21,0

In [143]:
from sklearn.preprocessing import OneHotEncoder

hot = OneHotEncoder(sparse_output=False)

In [144]:
hot_features = hot.fit_transform(df[['Geography']])

In [145]:
hot_features

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [146]:
hot.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [147]:
new_df = pd.DataFrame(hot_features , columns = hot.get_feature_names_out(['Geography']))

In [148]:
df.drop(['Geography'],axis = 1 , inplace =True)

In [149]:
df = pd.concat([df , new_df ] , axis = 1 )
df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [151]:
#save the encoders and scalers for future use
df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [152]:
with open('label_encoder_gender.pkl', 'wb') as f:
    import pickle
    pickle.dump(label_encoder_gender, f)

In [153]:
with open('hot_encoder_geography.pkl', 'wb') as f:
    import pickle
    pickle.dump(hot, f)

In [154]:
#Divide the data into independent and dependent features

In [155]:
X = df.drop('Exited', axis=1)
y = df['Exited']

In [156]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [157]:
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [158]:
X_train.shape

(8000, 12)

In [159]:
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scalar, f)

In [160]:
''''
1. Ann IMPLEMENTATION
2. initalize the sequential network
3. to create hidden neurons use dense
4. then use actication functin relu for hidden layer
5. THEN USE SIGMOID FOR OUTPUT LAYER
6. use optimizer such as adam(updating the weights)
7. then use loss function to reduce tan h
8. metrics such as accuracy , mse and rse in regression
9. tranining ->logs ->folder->tensorboard ->visualization

'''

"'\n1. Ann IMPLEMENTATION\n2. initalize the sequential network\n3. to create hidden neurons use dense\n4. then use actication functin relu for hidden layer\n5. THEN USE SIGMOID FOR OUTPUT LAYER\n6. use optimizer such as adam(updating the weights)\n7. then use loss function to reduce tan h\n8. metrics such as accuracy , mse and rse in regression\n9. tranining ->logs ->folder->tensorboard ->visualization\n\n"

In [119]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard

In [161]:
X_train.shape[1]  #number of features

12

In [175]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),  # Hidden layer 1
    Dense(32, activation='relu'),                                   # Hidden layer 2
    Dense(1, activation='sigmoid')                                  # Output layer
])

c:\Users\sudee\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [176]:
model.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_15 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_16 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [177]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.001)

In [178]:
## compile the model for foward and backward propagation
model.compile(optimizer=opt,
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [179]:
##set up the tensorboard 

import datetime


from tensorflow.keras.callbacks import EarlyStopping

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [180]:
## now set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=15, restore_best_weights=True)
#epoch = patience = how many times we have to wait for improvemnt

In [181]:
#train the model
history = model.fit(X_train, y_train,validation_data =(X_test, y_test),epochs=100, batch_size=32,
                    callbacks=[early_stopping_callback, tensorflow_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8117 - loss: 0.4458 - val_accuracy: 0.8330 - val_loss: 0.3913
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8399 - loss: 0.3856 - val_accuracy: 0.8525 - val_loss: 0.3579
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8516 - loss: 0.3567 - val_accuracy: 0.8585 - val_loss: 0.3538
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8558 - loss: 0.3470 - val_accuracy: 0.8595 - val_loss: 0.3456
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8611 - loss: 0.3437 - val_accuracy: 0.8575 - val_loss: 0.3459
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8614 - loss: 0.3401 - val_accuracy: 0.8585 - val_loss: 0.3443
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8608 - loss: 0.3371 - val_accuracy: 0.8610 - val_loss: 0.3434
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8611 - loss: 0.3340 - val_accuracy: 0.8620 - val_loss: 0.3424
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8661 - loss: 0.3308 - val_accuracy: 0.8570 - val_loss: 0.3425
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8652 - loss: 0.3282 - val_accuracy: 0.8620 - val_loss: 0.3435
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8666 - loss: 0.3260 - val_accuracy: 0.8600 - val_loss: 0.3406
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8652 - loss: 0.3244 - val_accuracy: 0.8645 - val_loss: 0.3405
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8675 - loss: 0.3208 - val_accuracy: 0.8595 - val_loss: 0.3385
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8687 - loss: 0.3203 - val_accuracy: 0.8630 - val_loss: 0.3413
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8696 - loss: 0.3176 - val_accuracy: 0.8630 - val_loss: 0.3408
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8686 - loss: 0.3155 - val_accuracy: 0.8580 - val_loss: 0.3395
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8700 - loss: 0.3137 - val_accuracy: 0.8585 - val_loss: 0.3423
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8695 - loss: 0.3126 - val_accuracy: 0.8620 - val_loss: 0.3355
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8709 - loss: 0.3116 - val_accuracy: 0.8595 - val_loss: 0.3374
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8719 - loss: 0.3085 - val_accuracy: 0.8595 - val_loss: 0.3387
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8726 - loss: 0.3081 - val_accuracy: 0.8620 - val_loss: 0.3393
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8736 - loss: 0.3064 - val_accuracy: 0.8615 - val_loss: 0.3417
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8712 - loss: 0.3056 - val_accuracy: 0.8625 - val_loss: 0.3407
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8731 - loss: 0.3035 - val_accuracy: 0.8605 - val_loss: 0.3383
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8733 - loss: 0.3023 - val_accuracy: 0.8600 - val_loss: 0.3446
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8748 - loss: 0.3019 - val_accuracy: 0.8540 - val_loss: 0.3598
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8760 - loss: 0.3000 - val_accuracy: 0.8605 - val_loss: 0.3463
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8760 - loss: 0.2995 - val_accuracy: 0.8590 - val_loss: 0.3431
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8770 - loss: 0.2971 - val_accuracy: 0.8640 - val_loss: 0.3434
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8783 - loss: 0.2969 - val_accuracy: 0.8630 - val_loss: 0.3429
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8766 - loss: 0.2958 - val_accuracy: 0.8635 - val_loss: 0.3433
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8763 - loss: 0.2933 - val_accuracy: 0.8610 - val_loss: 0.3504
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8771 - loss: 0.2919 - val_accuracy: 0.8600 - val_loss: 0.3540

In [182]:
model.save('ann_model_new.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [171]:
#load tensorboard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [172]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 24796), started 3:07:43 ago. (Use '!kill 24796' to kill it.)

In [173]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [174]:
df.iloc[0]

CreditScore             619.00
Gender                    0.00
Age                      42.00
Tenure                    2.00
Balance                   0.00
NumOfProducts             1.00
HasCrCard                 1.00
IsActiveMember            1.00
EstimatedSalary      101348.88
Exited                    1.00
Geography_France          1.00
Geography_Germany         0.00
Geography_Spain           0.00
Name: 0, dtype: float64

In [183]:
import pandas as pd
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/selva86/datasets/master/Churn_Modelling.csv"
resp = requests.get(url)
if resp.status_code == 200:
    df1 = pd.read_csv(StringIO(resp.text))
    print("Loaded successfully:", df.shape)
else:
    print("Failed to load CSV. Status code:", resp.status_code)

Loaded successfully: (10000, 13)

In [185]:
df1.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0